@import url(https://fonts.googleapis.com/css?family=Open+Sans&subset=latin,cyrillic-ext);
body {
	font-family: 'Open Sans';
}
#img {
  position: absolute;
  top:0; 
  left:0;
  opacity: 0.5;
}
#background {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background: url('1.jpeg') repeat 0 0;
  background-size:500px;
  z-index:-4;
}
.piece {
  position: absolute;
  opacity: 1!important;
  cursor: pointer;
}
.solved {
  position: absolute;
  opacity: 1!important;
}
#game {
	visibility:hidden;
    position:absolute;
    width:100%;
    height:100%;
    top:0;
    left:0;
    overflow: auto;
}
#chat{
	width:280px;
	height:380px;
	position:absolute;
	top:0px;
	left:100%;
	margin:10px 10px 0px -310px;
	background:rgba(255,255,255,0.8);
	padding:10px;
}
#input {
	width:280px;
	height:25px;
	position:absolute;
	left:10px;
	top:365px;
	text-align:center;
}
#messages {
	font-family:inherit;
	font-size:14px;
	width:280px;
	height:355px;
	position:absolute;
	left:10px;
	top:10px;
}
#chatInput {
	font-family:inherit;
	width:251px;
	height:25px;
	padding:0;
	border:0;
}
#okButton {
	font-family:inherit;
	width:25px;
	height:25px;
	padding:0;
	border:0;
}
.nickname {
	font-size:15px;
	font-weight: bold;
}
	
/*Created by JFMDev
https://github.com/jfmdev/jqJigsawPuzzle */
.type0000 {
     -webkit-mask-image: url('masks/0000.png');
}
 
.type0001 {
     -webkit-mask-image: url('masks/0001.png');
}
 
.type0010 {
     -webkit-mask-image: url('masks/0010.png');
}
 
.type0011 {
     -webkit-mask-image: url('masks/0011.png');
}
 
.type0100 {
     -webkit-mask-image: url('masks/0100.png');
}
 
.type0101 {
     -webkit-mask-image: url('masks/0101.png');
}
 
.type0110 {
     -webkit-mask-image: url('masks/0110.png');
}
 
.type0111 {
     -webkit-mask-image: url('masks/0111.png');
}
 
.type1000 {
     -webkit-mask-image: url('masks/1000.png');
}
 
.type1001 {
     -webkit-mask-image: url('masks/1001.png');
}
 
.type1010 {
     -webkit-mask-image: url('masks/1010.png');
}
 
.type1011 {
     -webkit-mask-image: url('masks/1011.png');
}
 
.type1100 {
     -webkit-mask-image: url('masks/1100.png');
}
 
.type1101 {
     -webkit-mask-image: url('masks/1101.png');
}
 
.type1110 {
     -webkit-mask-image: url('masks/1110.png');
}
 
.type1111 {
     -webkit-mask-image: url('masks/1111.png');
}