@import url(https://fonts.googleapis.com/css?family=Open+Sans&subset=latin,cyrillic-ext);
body {
	font-family: 'Open Sans';
}
#img {
  position: absolute;
  top:0; 
  left:0;
  opacity: 0.5;
}
#background {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background: url('1.jpeg') repeat 0 0;
  background-size:500px;
  z-index:-4;
}
.piece {
  position: absolute;
  opacity: 1!important;
  cursor: pointer;
}
.solved {
  position: absolute;
  opacity: 1!important;
}
#game {
    position:absolute;
    width:100%;
    height:100%;
    top:0;
    left:0;
    overflow: auto;
}
#chat{
	width:280px;
	height:380px;
	position:absolute;
	top:0px;
	left:100%;
	margin:10px 10px 0px -310px;
	background:rgba(255,255,255,0.8);
	padding:10px;
}
#input {
	width:280px;
	height:25px;
	position:absolute;
	left:10px;
	top:365px;
	text-align:center;
}
#messages {
	font-family:inherit;
	font-size:14px;
	width:280px;
	height:355px;
	position:absolute;
	left:10px;
	top:10px;
}
#chatInput {
	font-family:inherit;
	width:251px;
	height:25px;
	padding:0;
	border:0;
}
#okButton {
	font-family:inherit;
	width:25px;
	height:25px;
	padding:0;
	border:0;
}
.nickname {
	font-size:15px;
	font-weight: bold;
}